<h2>api</h2>
<p>
    The python file you provide must be a class named <code>Bot</code> that implements the method <code>play</code>. That's it!
</p>

<h4><a class="api_link" name="play" href="#play">play( )</a></h4>
<code>Bot.play : (Update -> bool) </code>
<p>
    This method is called to get your bot's move.
    It must return <code>True</code> or <code>False</code>.
    <code>True</code> indicates that you wish to betray.
    <code>False</code> indications that you wish to remain silent.
</p>

<h4><a class="api_link" name="Update" href="#Update">Update</a></h4>
<p>
    An Update object is passed as an argument to <a href="#play">play( )</a>.
    It contains the following attributes:
<ul>
    <li> <strong>your_move</strong> : <i>bool</i> Your move last turn</li>
    <li> <strong>opponent_move</strong> : <i>bool</i> Your opponent's move last turn</li>
    <li> <strong>moves</strong> : <i>int</i> The number of total moves in the current match </li>
</ul>
</p>
{% if not user %}
    <a href="#" class="button button-primary">register</a>
    <a href="{{ url_for('static', filename='assets/boilerbot.py') }}" class="button" download>boilerplate bot</a>
{% else %}
    <a href="#" class="button button-primary">boilerplate bot</a>
{% endif %}
