<!doctype html>

<html>
<head>
    {% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='Skeleton-2.0.4/css/normalize.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='Skeleton-2.0.4/css/skeleton.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/style.css') }}" />
    <title>{% block title %}{% endblock %} - PyPriz</title>
    {% endblock %}
</head>
<body>
    <div id="header">
        <ul class="navigation">
            <li><a href="{{ url_for('index') }}">PyPriz</a></li>
            {% if user %}
                <li><a href="{{ url_for('logout') }}">logout</a></li>
            {% else %}
                <li><a href="{{ url_for('login') }}">login</a></li>
            {% endif %}
        </ul>
    </div>
    <div class="container">
        <div id="content">{% block content %}{% endblock %}</div>
    </div>
</body>
</html>
